/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "thempo";
  src: url("thempo.ttf");
}

@font-face {
  font-family: "immortal";
  src: url("immortal.ttf");
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}

body {
  background-color: #444;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/fantasy.jpg");
  font-size: 16px;
  font-family: immortal, arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

h1,
h2 {
  color: #235667;
  text-align: center;
}

h2,
h3 {
  letter-spacing: 1px;
}

hr {
  border: 1px solid white;
  border-radius: 5px;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

.heading-primary,
.heading-secondary {
  color: white;
  text-shadow: 2px 3px #000000;
}

#card {
  padding: 1rem;
  background: #eee;
  border-radius: 15px;
  margin: 2rem 0;
}

#card h3 {
  margin-top: 10px;
  display: flex;
}

#card h3 i {
  margin-left: auto;
}

li {
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#wrapper {
  width: 30%;
  min-width: 400px;
  margin: 0 auto;
}

.bg {
  padding: 1rem;
  border-radius: 5px;
}

.white-bg {
  background-color: white;
}

@media screen and (max-width: 500px) {
  #wrapper {
    width: calc(100%);
    min-width: auto;
  }
}

#categories,
#clear {
  text-align: center;
}

#card,
#categories button {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

button {
  height: 55px;
  font: 1.2em normal arial, sans-serif;
  font-family: "immortal";
  border-radius: 5px;
  background-color: #235667;
  color: white;
  margin-bottom: 5px;
  border: solid 1px white;
}

button:hover,
button:active {
  cursor: pointer;
  background: #444;
}

#categories button {
  width: 100px;
}

button.add {
  height: 35px;
  width: 35px;
  text-align: center;
  margin-bottom: 1rem;
}

a {
  color: white;
  text-align: center;
  margin: 0 10px;
}

a:hover {
  text-shadow: 1px 2px #000000;
  cursor: pointer;
}

.beige {
  background: #e3d6aa;
}

.danger {
  background-color: darkred;
}

.action {
  background-color: #eb5454;
}

.group {
  background-color: #83aff2;
}

.individual {
  background-color: #fcd958;
}

input,
label,
select,
textarea,
#save {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font: 16px normal helvetica, sans-serif;
}

label {
  color: #235667;
}

label:not(:first-of-type) {
  margin-top: 10px;
}

#id-view {
  display: none;
}

#id-input {
  padding-right: 1rem;
  flex: 3;
}

#id-view.show {
  display: flex;
  align-content: space-between;
}

#id-view #card-id {
  flex: 1;
}

#close-edit {
  font-size: 24px;
  margin-top: -8px;
}

#close-edit:hover {
  cursor: pointer;
  color: gray;
}

input[type="text"],
select,
textarea {
  border-radius: 3px;
  border: solid 1px gray;
  padding: 2px 5px;
}

input[type="text"]:active,
select:active,
textarea:active {
  border-color: #235667;
}

#options {
  margin-bottom: 1rem;
}

ul {
  padding: 0 1rem;
  list-style: square;
}

option.placeholder {
  color: gray;
}

.get-card div {
  display: flex;
}

.get-card button {
  font: 16px normal helvetica, sans-serif;
  padding: 0.5rem 1rem;
  flex: 1;
}

.get-card input {
  border-radius: 3px;
}

#content {
  white-space: pre-wrap;
}
